

#Simulations {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

#Simulations .buttons {
  text-align: center;
  display: inline;
}

#pfjsIFrame {
  overflow: hidden;
  width: max(500px, 100%);
  min-height: 500px;
  border: none;
}
