.card {
  position: relative;
  padding: 3% 20%;
  color: black;
  border-bottom: solid lightblue 1px;
}

@media screen and (max-width: 1000px) {
  .card {
    padding: 3% 5%;
  }
}

.card-a {
  text-decoration: none;
}

.card .title {
  font-family: monospace;
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
}

.card .sub-title {
  font-family: monospace;
  color: grey;
  font-size: 1.2rem;
  margin: auto;
}

.card .desc, .card .icon {
  font-family: monospace;
  color: black;
  padding: 3%;
  border-radius: 20px;
  /*margin: 0;*/
}

.card .desc {
  font-size: 1.2rem;
  background-color: #f7f7f7;
}

.card .icon_holder {
  text-align: center;
}

.card .icon {
  display: inline;
  padding-top: 55px;
  padding-bottom: 2%;
}

.card .icon i {
  font-size: 4rem;
}

.card h1 {
  text-align: center;
  font-family: monospace;
}

.card-blend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.card * {
  z-index: -1000000000000000000000;
}
