.post {
  position: relative;
  padding: 3% 20%;
  color: white;
  border-bottom: solid lightblue 1px;
  font-size: 1.3rem;
}

@media screen and (max-width: 1000px) {
  .card {
    padding: 3% 5%;
  }
}

.post .back_title {
  font-size: 1.5rem;
  margin-left: 10%;
}

.post .title {
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
}

.post .title:before {
  content: "__";
}

.post .title:after {
  content: "‾‾";
}

.blend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post * {
  /*
   * Because of .blend, the content got overshadowed and thus the input was snatched away.
   * That's why I am put the following line of code - god knows what it means - probably
   * placing elements explicitly above/below rest - was able to solve the issue.
   */
  z-index: -1000000000000000000000;
}

/* Just an experiment... */
@media screen and (max-width: 600px) {
  .post {
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
  }
}
